# Property Data for Best Neighborhood in Pittsburgh

## Troy Reinhardt

In [15]:
# load pandas
import pandas as pd
import numpy as np
%matplotlib inline

In [16]:
property_data = pd.read_csv("https://data.wprdc.org/datastore/dump/8eff881d-4d28-4064-83f1-30cc991cfec7")

/opt/tljh/user/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (29,30,31,38,46,57,83,87,92) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
property_data.head(5)

,PARID,PROPERTYHOUSENUM,PROPERTYFRACTION,PROPERTYADDRESS,PROPERTYCITY,PROPERTYSTATE,PROPERTYUNIT,PROPERTYZIP,MUNICODE,MUNIDESC,...,ASOFDATE,MUNICIPALITY,NEIGHBORHOOD,PGH_COUNCIL_DISTRICT,PGH_WARD,PGH_PUBLIC_WORKS_DIVISION,PGH_POLICE_ZONE,PGH_FIRE_ZONE,TRACT,BLOCK_GROUP
0,0001G00224060300,151.0,,FORT PITT BLVD,PITTSBURGH,PA,UNIT 603,15222,101,1st Ward - PITTSBURGH,...,2018-09-01,Pittsburgh,Central Business District,6.0,1.0,6.0,2.0,1-4,4.200302e+10,4.200302e+11
1,0001G00224060400,151.0,,FORT PITT BLVD,PITTSBURGH,PA,UNIT 604,15222,101,1st Ward - PITTSBURGH,...,2018-09-01,Pittsburgh,Central Business District,6.0,1.0,6.0,2.0,1-4,4.200302e+10,4.200302e+11
2,0001G00224060500,151.0,,FORT PITT BLVD,PITTSBURGH,PA,UNIT 605,15222,101,1st Ward - PITTSBURGH,...,2018-09-01,Pittsburgh,Central Business District,6.0,1.0,6.0,2.0,1-4,4.200302e+10,4.200302e+11
3,0002M00222000000,40.0,,VAN BRAAM ST,PITTSBURGH,PA,,15219,101,1st Ward - PITTSBURGH,...,2018-09-01,Pittsburgh,Bluff,6.0,1.0,3.0,2.0,2-1,4.200301e+10,4.200301e+11
4,0002M00223000000,42.0,,VAN BRAAM ST,PITTSBURGH,PA,,15219,101,1st Ward - PITTSBURGH,...,2018-09-01,Pittsburgh,Bluff,6.0,1.0,3.0,2.0,2-1,4.200301e+10,4.200301e+11

This dataset has a lot of columns of data that are not all that meaningful to what I am trying to go for. To start, I will filter the dataset into a cleaner dataset with the columns that I will need.

In [4]:
column_names = ["PROPERTYADDRESS", "NEIGHBORHOOD", "SALEPRICE", "BEDROOMS"]
house_data = pd.DataFrame(property_data, columns=column_names)

In [5]:
house_data.head(5)

  PROPERTYADDRESS               NEIGHBORHOOD  SALEPRICE  BEDROOMS
0  FORT PITT BLVD  Central Business District   699000.0       2.0
1  FORT PITT BLVD  Central Business District   350000.0       2.0
2  FORT PITT BLVD  Central Business District   265000.0       1.0
3    VAN BRAAM ST                      Bluff    25550.0       4.0
4    VAN BRAAM ST                      Bluff    45550.0       6.0

Now that I have the data into an easier to look at set, I want to filter out certain entries that are not important as well. I am looking for a neighborhood, so I will filter out the rows that don't have a listed neighborhood. This data set also has the overall property sales which could be empty lots, buildings, stores and things of that nature. I want to get just properties to live in so I will filter based on number of bedrooms.

In [6]:
houses = house_data[house_data['BEDROOMS'].notna()]

In [7]:
houses = houses[houses['NEIGHBORHOOD'].notna()]

In [8]:
houses

       PROPERTYADDRESS               NEIGHBORHOOD  SALEPRICE  BEDROOMS
0       FORT PITT BLVD  Central Business District   699000.0       2.0
1       FORT PITT BLVD  Central Business District   350000.0       2.0
2       FORT PITT BLVD  Central Business District   265000.0       1.0
3         VAN BRAAM ST                      Bluff    25550.0       4.0
4         VAN BRAAM ST                      Bluff    45550.0       6.0
...                ...                        ...        ...       ...
407109       CARRIE ST              Spring Garden        0.0       2.0
407110       CARRIE ST              Spring Garden     6000.0       2.0
407211        LUTY AVE              Spring Garden    25000.0       3.0
407644        CLIFF ST           Crawford-Roberts    20500.0       3.0
407654   MOUNT TROY RD              Spring Garden     6850.0       2.0

[78494 rows x 4 columns]

Now that I have a cleaned up dataset I first want to find the overall average. Next I will group each neighborhood and find their individual average.

In [9]:
total_avg = houses["SALEPRICE"].mean()

In [10]:
avg_n = dict(houses.groupby('NEIGHBORHOOD')['SALEPRICE'].mean())

In [11]:
avg_n

{'Allegheny West': 150917.59047619047,
 'Allentown': 95394.4529032258,
 'Arlington': 24750.49263502455,
 'Arlington Heights': 1.0,
 'Banksville': 63829.28907048008,
 'Bedford Dwellings': 8009.8133333333335,
 'Beechview': 43402.391442155305,
 'Beltzhoover': 10146.409929078014,
 'Bloomfield': 78013.12049927989,
 'Bluff': 41516.185,
 'Bon Air': 36603.374193548385,
 'Brighton Heights': 60683.287658802175,
 'Brookline': 53434.829352319706,
 'California-Kirkbride': 302699.20657276997,
 'Carrick': 39039.69515389653,
 'Central Business District': 267033.2013536379,
 'Central Lawrenceville': 93206.42422192151,
 'Central Northside': 143959.64732142858,
 'Central Oakland': 83797.80196399345,
 'Chartiers City': 29170.39779005525,
 'Chateau': 5.5,
 'Crafton Heights': 47758.82664233576,
 'Crawford-Roberts': 78793.52161383285,
 'Duquesne Heights': 107264.40133779265,
 'East Allegheny': 74830.02426343154,
 'East Carnegie': 32175.803797468354,
 'East Hills': 16940.55455712452,
 'East Liberty': 74085.96757457846,
 'Elliott': 25196.410628019323,
 'Esplen': 13760.57281553398,
 'Fairywood': 19294.47474747475,
 'Fineview': 33616.96802325582,
 'Friendship': 147841.04761904763,
 'Garfield': 37530.04975124378,
 'Glen Hazel': 24881.137931034482,
 'Greenfield': 66483.9677819083,
 'Hays': 15355.898305084746,
 'Hazelwood': 27755.194019471488,
 'Highland Park': 127286.47093023256,
 'Homewood North': 18104.858751279426,
 'Homewood South': 94518.12698412698,
 'Homewood West': 11052.13875598086,
 'Knoxville': 20387.428947368422,
 'Larimer': 16032.997601918465,
 'Lincoln Place': 37028.80181668043,
 'Lincoln-Lemington-Belmar': 12927.621000820345,
 'Lower Lawrenceville': 94480.1876790831,
 'Manchester': 65958.50874403816,
 'Marshall-Shadeland': 32563.152870493992,
 'Middle Hill': 23009.871739130434,
 'Morningside': 73372.20696324951,
 'Mount Oliver Borough': 33353.9868554095,
 'Mount Washington': 76531.58563922942,
 'Mt. Oliver': 21447.712643678162,
 'New Homestead': 44317.59467455621,
 'North Oakland': 193370.9273255814,
 'North Shore': 15125.25,
 'Northview Heights': 22618.909090909092,
 'Oakwood': 55935.53307392996,
 'Overbrook': 47115.723653395784,
 'Perry North': 54779.94801980198,
 'Perry South': 35242.1022913257,
 'Point Breeze': 203438.0018610422,
 'Point Breeze North': 77128.4825986079,
 'Polish Hill': 57272.186046511626,
 'Regent Square': 141231.07213114755,
 'Ridgemont': 43737.11602209945,
 'Shadyside': 230446.64937170653,
 'Sheraden': 34242.00926538716,
 'South Oakland': 61465.0205066345,
 'South Shore': 118822.6,
 'South Side Flats': 125451.62952799122,
 'South Side Slopes': 55054.007845503926,
 'Spring Garden': 20013.233236151602,
 'Spring Hill-City View': 28775.327754532776,
 'Squirrel Hill North': 285505.6090373281,
 'Squirrel Hill South': 183571.15733830846,
 'St. Clair': 16836.808823529413,
 'Stanton Heights': 59411.25759416768,
 'Strip District': 322433.13333333336,
 'Summer Hill': 53200.16445623342,
 'Swisshelm Park': 68618.24016563148,
 'Terrace Village': 34511.34146341463,
 'Troy Hill': 66494.93116883117,
 'Upper Hill': 28935.476968796433,
 'Upper Lawrenceville': 68380.42240373396,
 'West End': 99386.38235294117,
 'West Oakland': 50967.00666666667,
 'Westwood': 56380.8431372549,
 'Windgap': 49184.38223140496}

In [12]:
avg_info = {'Average': avg_n}

In [13]:
avgF = pd.DataFrame(avg_info)

Here I take the data and put it into a data frame to be able to sort it.

In [14]:
avgF.sort_values(by=['Average'], ascending=False)

                                 Average
Strip District             322433.133333
California-Kirkbride       302699.206573
Squirrel Hill North        285505.609037
Central Business District  267033.201354
Shadyside                  230446.649372
...                                  ...
Homewood West               11052.138756
Beltzhoover                 10146.409929
Bedford Dwellings            8009.813333
Chateau                         5.500000
Arlington Heights               1.000000

[90 rows x 1 columns]

## Based on the data for house sales, the Strip District is the best neighborhood due to it having the highest average value in their houses.